@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto&family=Rubik+Dirt&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(0, 0, 0, 0.911);
}

.Sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
  background-color: rgb(66, 112, 209);
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: white;
}


#profileInformation {
  padding: 18px;
}

#education {
  padding: 18px;
}

#experience {
  padding: 18px;

}

#programming {
  padding: 18px;

}

#Favorites {
  padding: 18px;

}

#favorite_website {
  padding: 18px;

}


#menu {
  padding: 18px;

}


#projects {
  padding: 18px;

}

/*! Profile ================================================================================= */
.profile {
  background-color: rgb(44, 17, 44);
  height: 400px;
  width: 400px;
  margin-left: 30px;
  margin-top: 80px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10%;
}

#p_pic {
  width: 200px;
  border-radius: 10%;
}

#personal_info {
  color: white;
  white-space: pre-line;   /*"pre-line" preserves newlines */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}


.interests {
  background-color: rgb(44, 17, 44);
  height: 400px;
  width: 400px;
  margin-left: 550px;
  margin-top: -420px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10%;
}

#interests_info {
  color: white;
  white-space: pre-line;   /*"pre-line" preserves newlines */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
/*! education ================================================================================= */

.education {
  background-color: rgb(44, 17, 44);
  height: 800px;
  width: 900px;
  margin-left: 30px;
  margin-top: 80px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10%;
}

#e_pic {
  width: 300px;
  border-radius: 10%;
  margin-left: 80px;
}

#edu_summary {
  color: white;
  white-space: pre-line;   /*"pre-line" preserves newlines */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

/*! work experience ================================================================================= */

.work_exp {
  background-color: rgb(44, 17, 44);
  height: 500px;
  width: 600px;
  margin-left: 30px;
  margin-top: 80px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10%;
}

#work_info {
  color: white;
  white-space: pre-line;   /*"pre-line" preserves newlines */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

#work_bulletins {
  color: white;
  white-space: pre-line;   /*"pre-line" preserves newlines */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/*! programming skills ================================================================================= */

.program {
  background-color: rgb(44, 17, 44);
  height: 500px;
  width: 600px;
  margin-left: 30px;
  margin-top: 80px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10%;
}

#program_info {
  color: white;
  white-space: pre-line;   /*"pre-line" preserves newlines */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/*! Favorite song, film, and tv show ================================================================================= */

.favs1 {
  background-color: rgb(44, 17, 44);
  height: 500px;
  width: 600px;
  margin-left: 30px;
  margin-top: 80px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10%;
}

.favs2 {
  background-color: rgb(44, 17, 44);
  height: 500px;
  width: 600px;
  margin-left: 800px;
  margin-top: -510px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10%;
}

.favs3 {
  background-color: rgb(44, 17, 44);
  height: 500px;
  width: 600px;
  margin-left: 30px;
  margin-top: 80px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10%;
}


.favs_info {
  color: white;
  white-space: pre-line;   /*"pre-line" preserves newlines */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}